:root{
    --verde-base: #283D28;
    --letra-menu: #FFFFFF;
    --precisa-bloco: #507A4F;
    --precisa-letra: #DCC6AA;
    --bloco-ajuda: #E4FFC9;
    --bloco-enviar: #D5EC9F;
    --letra-enviar: #003713;
    --letra-marrom: #633216;
    --linha: #000000;
    --verde-escuro: #1f3a23;

}

